.container {
  position: absolute;
  display: flex;
  background-color: #006630;
  flex-direction: column;
  z-index: 9;
  resize: both;
  box-shadow: 10px 8px 10px 2px rgba(0,0,0,0.5);
  outline: 3px solid #006630;
}

.editor-container-window {
  top: 5%;
  left: 20%;
  width: 60%;
  height: 10em;
}
.editor-container-horiz {
  top: 5%;
  left: 0;
  width: 100%;
  height: 47.5%;
}
.editor-container-vert {
  top: 5%;
  left: 0;
  height: 95%;
  width: 50%;
}

.output-container-window {
  top: 35%;
  left: 20%;
  width: 60%;
}
.output-container-horiz {
  top: 52.5%;
  left: 0;
  width: 100%;
  height: 47.5%;
}
.output-container-vert {
  top: 5%;
  left: 50%;
  width: 50%;
  height: 95%;
}


#editor {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  min-width: 7em;
}
.editor-window {
  resize: both;
}


#output {
  background-color: white;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.output-window {
  resize: both;
}

.header {
  height: 1em;
  background-color: #006630;
  width: 100%;
  cursor: move;
  z-index: 10;
}

